* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
form {
  position: relative;
  flex-direction: column;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  position: absolute;
  padding: 20px 10px;
  border: none;
  border: 2px solid black;
  border-radius: 15px;
  font-size: 2.2rem;
  transition: ease-in 0.2s;
  outline: none;
}
.name {
  font-size: 1.13rem;
  position: absolute;
  font-weight: 400;
  transition: all 0.3s;
  padding: 0 10px;
}
input:focus,
input.valid {
  color: rgb(59, 248, 21);
  border: 3px solid rgb(59, 248, 21);
}
input:focus + .name,
input.valid + .name {
  color: rgb(59, 248, 21);
  left: 10%;
  transform: translateY(-205%);
  display: block;
  background-color: white;
}
